fastapi
uvicorn
gunicorn
python-dotenv
requests
python-docx
docxtpl
google-generativeai
aiofiles
# Database & Auth
azure-cosmos
passlib
bcrypt==4.0.1
python-jose[cryptography]
sqlalchemy
python-multipart
email-validator
